html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  color: #333;
  font-size: 1.2rem;
  background: #fbfbfd;
}

body,
.container {
  overflow-x: hidden !important;
}

.row .col .card {
  border: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin-bottom: 35px;
}
.row .col .card .card-img-top {
  border-radius: 10px;
}
.row .col .card .card-img-bottom {
  border-radius: 10px;
}
.row .col .card .card-body .card-category {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 600;
  color: #c6c6c6;
}
.row .col .card .card-body .card-title {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 900;
}
.row .col .card .card-body .card-text {
  font-family: "roboto";
  font-size: 12px;
  font-weight: 400;
  color: #939393;
}

.img-div {
  padding-top: 15%;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

h1 {
  font-size: 5rem;
  color: #181818;
}

p {
  margin: 1rem 0;
  /* color: #86868b !important; */
}

.storm {
}

a {
  color: #444;
  text-decoration: none;
}

.title {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 36px 36px;
  backdrop-filter: blur(8px);
  border-radius: 40px;
  height: 390px;
}

.title h1 {
  font-size: 2rem !important;
}

.title p {
  font-size: 1.2rem !important;
}

.title h3 {
  font-size: 1.6rem !important;
}

.underline-blue {
  border-bottom: 8px solid #042e9c;
}

.pt-10 {
  padding-top: 7%;
}

.section-b-inner h3 {
  font-size: 2rem;
}

.section-b-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-b-inner p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.quote-p {
  font-size: 1.2rem !important;
  color: #86868b !important;
}

.blue-text {
  color: #042e9c !important;
}

/* Start  */

@import url("https://rsms.me/inter/inter.css");
/* html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
} */
:root {
  --bg-page: #181818;
  --text-color: #f9f9f9;
  --blue: #0870f8;
  --blue-rgb: 8, 112, 248;
  --input-size: 70px;
  --border: #343434;
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --g-yellow: linear-gradient(30deg, #fc0, #fc0);
  --g-red: linear-gradient(30deg, #f36, #f24);
  --g-red-1: linear-gradient(30deg, #e26a64, #fd0d00);
  --g-blue: linear-gradient(30deg, #0cf, #0af);
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --g-green: linear-gradient(30deg, #5be258, #2aaa27);
  --g-aqua: linear-gradient(30deg, #8fdcf1, #17c1f0);
  --g-dark-blue: linear-gradient(30deg, #485380, #1d202c);
  --g-flutter-blue: linear-gradient(30deg, #9fc6ee, #1784f1);
  --g-magenta: linear-gradient(30deg, #eb6ac2, #e10098);
}

.light-text {
  color: rgb(255 255 255 / 82%) !important;
}

* {
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  transition: all 200ms ease;
}

html,
body,
.full-width {
  height: 100%;
}

.hide {
  display: none;
  visibility: hidden;
  height: 0;
}

.tip {
  color: #fff;
  font-variation-settings: 600;
  font-weight: 600;
  font-size: 13px;
}

.slider {
  --bg: #3d5afe;
  max-width: 400px;
  display: block;
  width: 340px;
  margin: 10px auto;
  background: var(--bg);
  padding: 22px 20px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nodejs {
  background: var(--g-green);
}

.reactjs {
  background: var(--g-aqua);
}

.dark-txt {
  color: rgba(0, 0, 0, 0.65) !important;
}

.electron {
  background: var(--g-dark-blue);
}
.laravel {
  background: var(--g-red-1);
}

.flutter {
  background: var(--g-flutter-blue);
}

.graphql {
  background: var(--g-magenta);
}

.slider.lamp {
  background: var(--g-yellow);
  color: var(--bg-page);
}
.slider.lamp .range::-webkit-slider-thumb {
  box-shadow: -400px 400px 0 400px var(--bg-page);
  background: var(--bg-page);
}
.slider.lamp .icon,
.slider.lamp .range {
  background: rgba(0, 0, 0, 0.08);
}
.slider.lamp .icon:focus,
.slider.lamp .icon:active,
.slider.lamp .range:focus,
.slider.lamp .range:active {
  background: rgba(0, 0, 0, 0.08);
}
.slider.lamp .desc {
  color: rgba(0, 0, 0, 0.65);
}
.slider.air {
  background: var(--g-purple);
}

.info-sl {
  display: flex;
  align-items: center;
}

.text-sl {
  margin-left: 15px;
}
.text-sl h1 {
  font-size: 1.7rem;
  font-weight: 700;
  font-variation-settings: "wght" 700;
  margin: 0;
}
.text-sl .desc {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.icon {
  --size: 54px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
}

.range {
  --range-bg: #3d5afe;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  height: var(--input-size);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.08);
  outline: none;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 0 0 2px transparent;
}
.range:focus,
.range:active {
  background: rgba(255, 255, 255, 0.08);
}
.range[value="0"]::-webkit-slider-thumb {
  background: transparent !important;
}

.off {
  display: none;
}

.range-hold {
  transition: all 2s ease;
}

input[type="checkbox"]:checked ~ .range-hold {
  display: none;
}
input[type="checkbox"]:checked ~ .info-sl .icon .on {
  display: none;
}
input[type="checkbox"]:checked ~ .info-sl .icon .off {
  display: block;
}
input[type="checkbox"]:checked ~ .info-sl .text-sl .on {
  display: none;
}
input[type="checkbox"]:checked ~ .info-sl .text-sl .off {
  display: block;
}

.icon {
  position: relative;
  cursor: pointer;
}
@media (hover: hover) {
  .icon:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3px;
  position: relative;
  height: var(--input-size);
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: -400px 400px 0 400px #fff;
  transition: all 1s ease;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes height {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.white-text {
  color: #fbfbfd !important;
}

.black-text {
  color: #181818 !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.fat {
  font-size: 5rem;
}

.code-color {
  color: #3d5afe !important;
}

.code-p {
  color: #3d7ffe !important;
}

.heading-1 {
  color: #1d1d1f !important;
  font-weight: bold !important;
  font-size: 4rem !important;
}

.belief-div {
  background-repeat: no-repeat;
  background-image: url(./resources/belief.jpg);
  background-position: center;
  min-height: 80vh;
}

.expertise {
  /*  color: #fa0876 !important; */

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fa0876),
    to(#060ca8)
  );
  background: linear-gradient(to right, #fa0876 40%, #060ca8 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* icons */

.app {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 160px;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.panel-div {
  margin: auto;
}

.panel {
  min-height: 120px;
  min-width: 120px;
  height: 120px;
  width: 120px;
  border-radius: 30%;

  -webkit-backdrop-filter: saturate(4) blur(70px);
  backdrop-filter: saturate(4) blur(70px);
  background: rgb(255, 255, 255);
  /*  -webkit-transform: translate(-45%, -85%) scale(0.8);
          transform: translate(-45%, -85%) scale(0.8); */
  -webkit-transition: all 0.6s cubic-bezier(0, 0.54, 0.1, 1.07);
  transition: all 1.7s cubic-bezier(0, 0.54, 0.1, 1.07);
  cursor: pointer;
}
.panel:hover {
  width: 160px;
  height: 160px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  -webkit-transition: all 0.7s cubic-bezier(0, 0.79, 0.29, 1.05);
  transition: all 1.9s cubic-bezier(0, 0.79, 0.29, 1.05);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.panel-1 {
  background: #e4ba42;
  background-image: url(./resources/js.svg);
  background-position: center;
  background-size: contain;
}

.panel-2 {
  background: #000000;
  background-image: url(./resources/php.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.panel-3 {
  background: #e2e3e49a;
  background-image: url(./resources/python.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.panel-4 {
  background: #9f72d9c7;
  background-image: url(./resources/csharp.svg);
  background-position: center;
  background-size: contain;
}

.panel-5 {
  background: #f0eded;
  background-image: url(./resources/java.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.panel + span {
  color: #181818 !important;
}

.note {
  font-size: 14px;
  color: #333;
}

.slider-1 {
  height: 200px;
}

.finance-color {
  color: #a2a099;
}

.font-weight-normal {
  font-weight: normal !important;
}

.art-color {
  font-weight: normal !important;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fa0876),
    to(#ff5905)
  );
  background: linear-gradient(to right, #fa0876 40%, #ff5905 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-container {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.qrwp {
  width: 75%;
  border-radius: 30px;
}

.email {
  font-size: 3.5rem !important;
}

.title-big {
  height: 450px;
  cursor: pointer;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

footer {
  height: 40px;
}
footer div a,
footer div {
  font-size: 14px;
  color: #86868b;
}

.mt-4 {
  margin-top: 4rem;
}

/* responsive code */

@media (max-width: 1199px) and (min-width: 992px) {
  .slider {
    zoom: 0.9;
  }
  .title {
    zoom: 0.85;
  }
}

@media (max-width: 992px) {
  .storm {
    font-size: 4rem !important;
    text-align: center;
  }

  .title {
    height: 420px !important;
  }
}

@media (max-width: 576px) {
  .storm {
    text-align: center !important;
    font-size: 4rem !important;
  }

  .section-b-inner h2 {
    font-size: 3rem;
  }

  .belief-div {
    background-size: cover;
  }

  .app {
    flex-flow: wrap !important;
  }

  .panel-div {
    margin: 15px;
  }

  .finance-color {
    font-size: 2.5rem !important;
  }

  .title-big {
    height: 380px;
  }
}

.nolink {
  text-decoration: none !important;
}

/* ios alert */

.alert * {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert *:focus {
  outline: 0;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: -50px;
  width: 270px;
  text-align: center;
  font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 13px;
  overflow: hidden;
  z-index: 9999999999999999999999998;
  background-color: rgba(255, 255, 255, 0.8);
}

.alert .inner {
  padding: 15px;
}

.alert .title {
  font-weight: 500;
  font-size: 22px;
  max-height: 50px !important;
}

.alert .text {
  margin-top: 5px;
  padding: 12px;
}

.alert .button {
  position: relative;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  color: #007aff;
  border-radius: 0 0 13px 13px;
  overflow: hidden;
  cursor: pointer;
}

.alert .button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #c4c4c4;
  z-index: 9999999999999999999999999;
}
